.App {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: medium;
}
.posts-table {
  text-align: left;
  line-height: 40px;
  /* border-collapse: separate; */
  border-spacing: 10;
  /* border: 2px solid teal; */
  width: 60%;
  margin: 50px auto;
  border-radius: 0.25rem;
  /* background-color: rgb(96, 129, 201); */
}

td,
th {
  border: 15px solid #ddd;

  font-weight: 300;
}
td:last-child {
  border: none;
  text-align: right;
  padding-right: 10px;
}

tbody tr:hover {
  background-color: rgb(144, 144, 197);
  cursor: default;
  bottom: 0;
}
/* .comment-button {
  position: absolute;
} */

.comment {
  display: inline-block;
  vertical-align: middle;

  width: calc(100% - 75px);
  min-height: 65px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #555;
  background-color: rgb(123, 148, 168);
  /* border-bottom: 2px solid lighten($GREY, 15%); */
}

.user-button {
  font-size: large;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}
